extends index

block append stylesheets
  link(rel="stylesheet", href="/css/chattemplate.css")

block content
  .container.p-1
    .card
      .row.g-0
        .col-12.col-lg-5.col-xl-3.border-end.leftNav
          .px-4.d-none.d-md-block.border.border-top-0.border-start-0.border-end-0.createGroup.leftTop
            .d-flex.align-items-center.firstChild
              .flex-grow-1
                div(class="creategroup")
                  form(method="GET", action="/chats/createGroup/")
                    button.btn.btn-outline.border.my-3.w-100 Create Group
          div.usersandgroups.leftBottom
            for usr in users
              - let url = `/chats/${user.username}/${usr.username}/${usr.roomId}`
              - let src = '/img/user.png';
              if(usr.profilePhoto !== '')
                - src = usr.profilePhoto
  
              a.list-group-item.list-group-item-action.border.border-top-0.border-start-0.border-end-0(href= url)
                .d-flex.align-items-center
                  img.rounded-circle.me-1(src= src, alt= usr.username, width='40', height='40')
                  .flex-grow-1.ms-3= usr.username
            
            for grp in groups
              - let url = `/chats/${user.username}/${grp.groupname}/${grp.roomId}`
              - let src = '/img/users-three.png';
  
              a.list-group-item.list-group-item-action.border.border-top-0.border-start-0.border-end-0(href= url)
                .d-flex.align-items-center
                  img.rounded-circle.me-1(src= src, alt= grp.groupname, width='40', height='40')
                  .flex-grow-1.ms-3= grp.groupname
  
        .col-12.col-lg-7.col-xl-9.rightNav
          block rightcontent
        //-   a.list-group-item.list-group-item-action.border-0(href='#')
        //-     .d-flex.align-items-start
        //-       img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar2.png', alt='William Harris', width='40', height='40')
        //-       .flex-grow-1.ms-3
        //-         | William Harris
        //-         .small
        //-           span.fas.fa-circle.chat-online
        //-           |  Online
        //-   a.list-group-item.list-group-item-action.border-0(href='#')
        //-     .d-flex.align-items-start
        //-       img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar3.png', alt='Sharon Lessman', width='40', height='40')
        //-       .flex-grow-1.ms-3
        //-         | Sharon Lessman
        //-         .small
        //-           span.fas.fa-circle.chat-online
        //-           |  Online
        //-   a.list-group-item.list-group-item-action.border-0(href='#')
        //-     .d-flex.align-items-start
        //-       img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar4.png', alt='Christina Mason', width='40', height='40')
        //-       .flex-grow-1.ms-3
        //-         | Christina Mason
        //-         .small
        //-           span.fas.fa-circle.chat-offline
        //-           |  Offline
        //-   a.list-group-item.list-group-item-action.border-0(href='#')
        //-     .d-flex.align-items-start
        //-       img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar5.png', alt='Fiona Green', width='40', height='40')
        //-       .flex-grow-1.ms-3
        //-         | Fiona Green
        //-         .small
        //-           span.fas.fa-circle.chat-offline
        //-           |  Offline
        //-   a.list-group-item.list-group-item-action.border-0(href='#')
        //-     .d-flex.align-items-start
        //-       img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar2.png', alt='Doris Wilder', width='40', height='40')
        //-       .flex-grow-1.ms-3
        //-         | Doris Wilder
        //-         .small
        //-           span.fas.fa-circle.chat-offline
        //-           |  Offline
        //-   a.list-group-item.list-group-item-action.border-0(href='#')
        //-     .d-flex.align-items-start
        //-       img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar4.png', alt='Haley Kennedy', width='40', height='40')
        //-       .flex-grow-1.ms-3
        //-         | Haley Kennedy
        //-         .small
        //-           span.fas.fa-circle.chat-offline
        //-           |  Offline
        //-   a.list-group-item.list-group-item-action.border-0(href='#')
            .d-flex.align-items-start
              img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar3.png', alt='Jennifer Chang', width='40', height='40')
              .flex-grow-1.ms-3
                | Jennifer Chang
                .small
                  span.fas.fa-circle.chat-offline
                  |  Offline
          hr.d-block.d-lg-none.mt-1.mb-0
        //- .col-12.col-lg-7.col-xl-9
        //-   .py-2.px-4.border-bottom.d-none.d-lg-block
        //-     .d-flex.align-items-center.py-1
        //-       .position-relative
        //-         img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar3.png', alt='Sharon Lessman', width='40', height='40')
        //-       .flex-grow-1.pl-3
        //-         strong Sharon Lessman
        //-   .position-relative
        //-     .chat-messages.p-4
        //-       .chat-message-right.pb-4
        //-         div
        //-           img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar1.png', alt='Chris Wood', width='40', height='40')
        //-           .text-muted.small.text-nowrap.mt-2 2:33 am
        //-         .flex-shrink-1.bg-light.rounded.py-2.px-3.me-3
        //-           .font-weight-bold.mb-1 You
        //-           | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
        //-       .chat-message-left.pb-4
        //-         div
        //-           img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar3.png', alt='Sharon Lessman', width='40', height='40')
        //-           .text-muted.small.text-nowrap.mt-2 2:34 am
        //-         .flex-shrink-1.bg-light.rounded.py-2.px-3.ms-3
        //-           .font-weight-bold.mb-1 Sharon Lessman
        //-           | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat animal commodo.
        //-       .chat-message-right.mb-4
        //-         div
        //-           img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar1.png', alt='Chris Wood', width='40', height='40')
        //-           .text-muted.small.text-nowrap.mt-2 2:35 am
        //-         .flex-shrink-1.bg-light.rounded.py-2.px-3.me-3
        //-           .font-weight-bold.mb-1 You
        //-           | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Cum ea graeci tractatos.
        //-       .chat-message-left.pb-4
        //-         div
        //-           img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar3.png', alt='Sharon Lessman', width='40', height='40')
        //-           .text-muted.small.text-nowrap.mt-2 2:36 am
        //-         .flex-shrink-1.bg-light.rounded.py-2.px-3.ms-3
        //-           .font-weight-bold.mb-1 Sharon Lessman
        //-           | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Sed pulvinar, massa vitae interdum pulvinar, risus lectus porttitor magna, vitae commodo lectus mauris et velit.
        //-           | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Proin ultricies placerat imperdiet. Morbi varius quam ac venenatis tempus.
        //-       .chat-message-left.pb-4
        //-         div
        //-           img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar3.png', alt='Sharon Lessman', width='40', height='40')
        //-           .text-muted.small.text-nowrap.mt-2 2:37 am
        //-         .flex-shrink-1.bg-light.rounded.py-2.px-3.ms-3
        //-           .font-weight-bold.mb-1 Sharon Lessman
        //-           | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Cras pulvinar, sapien id vehicula aliquet, diam velit elementum orci.
        //-       .chat-message-right.mb-4
        //-         div
        //-           img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar1.png', alt='Chris Wood', width='40', height='40')
        //-           .text-muted.small.text-nowrap.mt-2 2:38 am
        //-         .flex-shrink-1.bg-light.rounded.py-2.px-3.me-3
        //-           .font-weight-bold.mb-1 You
        //-           | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
        //-       .chat-message-left.pb-4
        //-         div
        //-           img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar3.png', alt='Sharon Lessman', width='40', height='40')
        //-           .text-muted.small.text-nowrap.mt-2 2:39 am
        //-         .flex-shrink-1.bg-light.rounded.py-2.px-3.ms-3
        //-           .font-weight-bold.mb-1 Sharon Lessman
        //-           | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat animal commodo.
        //-       .chat-message-right.mb-4
        //-         div
        //-           img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar1.png', alt='Chris Wood', width='40', height='40')
        //-           .text-muted.small.text-nowrap.mt-2 2:40 am
        //-         .flex-shrink-1.bg-light.rounded.py-2.px-3.me-3
        //-           .font-weight-bold.mb-1 You
        //-           | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Cum ea graeci tractatos.
        //-       .chat-message-right.mb-4
        //-         div
        //-           img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar1.png', alt='Chris Wood', width='40', height='40')
        //-           .text-muted.small.text-nowrap.mt-2 2:41 am
        //-         .flex-shrink-1.bg-light.rounded.py-2.px-3.me-3
        //-           .font-weight-bold.mb-1 You
        //-           | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Morbi finibus, lorem id placerat ullamcorper, nunc enim ultrices massa, id dignissim metus urna eget purus.
        //-       .chat-message-left.pb-4
        //-         div
        //-           img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar3.png', alt='Sharon Lessman', width='40', height='40')
        //-           .text-muted.small.text-nowrap.mt-2 2:42 am
        //-         .flex-shrink-1.bg-light.rounded.py-2.px-3.ms-3
        //-           .font-weight-bold.mb-1 Sharon Lessman
        //-           | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Sed pulvinar, massa vitae interdum pulvinar, risus lectus porttitor magna, vitae commodo lectus mauris et velit.
        //-           | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Proin ultricies placerat imperdiet. Morbi varius quam ac venenatis tempus.
        //-       .chat-message-right.mb-4
        //-         div
        //-           img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar1.png', alt='Chris Wood', width='40', height='40')
        //-           .text-muted.small.text-nowrap.mt-2 2:43 am
        //-         .flex-shrink-1.bg-light.rounded.py-2.px-3.me-3
        //-           .font-weight-bold.mb-1 You
        //-           | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Lorem ipsum dolor sit amet, vis erat denique in, dicunt prodesset te vix.
        //-       .chat-message-left.pb-4
        //-         div
        //-           img.rounded-circle.me-1(src='https://bootdey.com/img/Content/avatar/avatar3.png', alt='Sharon Lessman', width='40', height='40')
        //-           .text-muted.small.text-nowrap.mt-2 2:44 am
        //-         .flex-shrink-1.bg-light.rounded.py-2.px-3.ms-3
        //-           .font-weight-bold.mb-1 Sharon Lessman
        //-           | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Sit meis deleniti eu, pri vidit meliore docendi ut, an eum erat animal commodo.
        //-   .flex-grow-0.py-3.px-4.border-top
        //-     .input-group
        //-       input.form-control(type='text', placeholder='Type your message')
        //-       button.btn.btn-primary Send
