extends index

block append stylesheets
    link(rel='stylesheet' href='/css/update_profile.css')

block append scripts
    script(type='module' src='/js/profile.js')

block content  
    form#updateForm(method='post')
        h1 Update Profile
        label.profile(for='images')
            if user.profilePhoto
                img#profile-label(src=user.profilePhoto, alt="photo")
            else
                img#profile-label(src='https://cdn-icons-png.flaticon.com/128/3135/3135715.png', alt="photo")
        input#file(type='file' name="images")
        input#name(type="text", name="name" placeholder='Name', value=user.name)
        textarea#desc(name="", cols="30", rows="10"  placeholder="Description") #{user.description} 
        input#username(type="text", name="username" placeholder='Username', value=user.username)
        input#email(type="email", name="email", placeholder='Email', value=user.email)
        input#mobile(type="tel", name="mobile", placeholder='mobile', value=user.mobile)

        button#uploadFormSubmitBtn(type="submit") Update
