extends index

block append stylesheets 
    link(rel='stylesheet', href='/css/video_call_lobby_styles.css')

block append scripts
    script(src='/js/video_call_lobby.js' type='module')

block content
    p.text-center 
        i(class='las la-lock icon-4 global-primary-color') 
        | Start a completely secure 1X1 video call with your connection 
    p.helperText.fs-4 #{user.username}, Select a user and request for a video call:
    .container.mx-auto.row.friends
        each friend in friends
            .col-6.col-sm-4.col-md-3.d-flex.align-items-center.friend(id=friend.username)
                div
                    img.w-100.h-100(src=friend.profilePhoto, alt=friend.username)
                .d-flex.align-items-center.ms-3
                    h2= friend.username