extends index

block append stylesheets 
    link(rel='stylesheet', href='/css/video_call_lobby_styles.css')

block append scripts
    script(src='/js/video_call_lobby.js' type='module')

block content
    p.text-center 
        i(class='las la-lock icon-4 global-primary-color') 
        | Start a completely secure 1X1 video call with your connection 
    p.helperText.fs-4 #{user.username}, Select a user and request for a video call:
    .d-flex.justify-content-start.mx-auto.ms-3.friends
        each friend in friends
            .mx-3.friend.d-flex.align-items-center.p-4.rounded(id=friend.username)
                div
                    img.img-fluid.videoCallPhoto(src=friend.profilePhoto, alt=friend.username)
                .d-flex.align-items-center.ms-3
                    p.fs-4= friend.username